node_modules

client/src/contracts/*.json
client/src/shared/*

contracts/contracts/build

out
out.ztf
witness
abi.json

aggregator/contracts/*
aggregator/shared/*

aggregator/zokrates_circuits/out
aggregator/zokrates_circuits/out.ztf
aggregator/zokrates_circuits/proof.json
aggregator/zokrates_circuits/proving.key
aggregator/zokrates_circuits/verification.key
aggregator/zokrates_circuits/abi.json
aggregator/zokrates_circuits/witness
presentation/