node_modules

client/src/contracts/*.json
client/src/shared/*

contracts/contracts/build

zokrates/out
zokrates/out.ztf
zokrates/witness
zokrates/abi.json

transactor/contracts/*
transactor/shared/*

transactor/zokrates_circuits/out
transactor/zokrates_circuits/out.ztf
transactor/zokrates_circuits/proof.json
transactor/zokrates_circuits/proving.key
transactor/zokrates_circuits/verification.key
transactor/zokrates_circuits/abi.json
transactor/zokrates_circuits/witness

mimcTools/venv
mimcTools/node_modules
mimcTools/out
mimcTools/out.ztf
mimcTools/proving.key
mimcTools/verification.key
mimcTools/witness
mimcTools/abi.json